.dropdown-main-container {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 1330px;
  top: 120px;
  background-color: #ffffff;
  border: 1px solid #f59a22;
  border-radius: 15px;
  z-index: 3;
}

.dropdown-container {
  margin: 15px;
}

.menu-item {
  display: flex;
  cursor: pointer;
}

.text {
  color: #f59a22;
}

.text:hover {
  filter: brightness(1.4);
}

.fa-user,
.fa-bell,
.fa-bars,
.fa-exclamation-circle,
.fa-sign-out {
  color: #f59a22;
}

.fa-user:hover,
.fa-bell:hover,
.fa-bars:hover,
.fa-exclamation-circle:hover,
.fa-sign-out:hover {
  filter: brightness(1.4);
}